body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 247, 247);
    margin-bottom: 100px;
}

h1 {
    margin-bottom: 15px;
    margin-top: 20px;
}

div {
    background-color: rgb(248, 248, 248);
}

.main-container {
    width: 80%;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    margin-top: 16px;
}

.main-scene {
    font-weight: bold;
}

.main-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px

}

.details-container {
    width: 100%;
}

.other-info {
    font-size: .8rem;
}

.cast, .props, .costume {
    margin-bottom: 5px;
}

.dropdown-button {
    cursor: pointer;
    transform: scale(1.4);
}

p {
    font-size: .9rem;
}

.dropdown-div {
    padding-left: 4vw;
    padding-right: 1vw;
}

.target-time {
    font-size: .8rem;
    margin: 5px;
}

span {
    font-weight: bold;
}

.script-container {
    width: 75%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    margin-top: 8px;
    display: none;
}

.script-container p, .script-container span{
    font-family: 'Courier New', Courier, monospace;
}

.scene-details {
    font-weight: bold;
}

.day {
    margin: 10px;
}

.early-evening {
    margin: 30px;
    margin-bottom: 0;
}